@use '@styles/_variable.module.scss' as *;
.container {
  background-color: #363636;
  margin-top: 60px;
  padding: 55px 0;
  color: $text_white;
}
.text_size {
  font-size: 15px;
}
.cursor {
  cursor: pointer;
  &:hover {
    opacity: 0.7;
  }
}
