@use '@styles/_variable.module.scss' as *;
.container {
  width: 296px;
  height: 405px;
}
.itemImg {
  height: 354px;
  width: 100%;
  position: relative;
  > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  &:hover .imgShowWhenHover {
    opacity: 1;
    cursor: pointer;
  }
  &:hover .listIcon {
    opacity: 1;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    transition: right 300ms;
  }
}

.imgShowWhenHover {
  opacity: 0;
  transition: opacity 300ms;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.listIcon {
  background-color: $color_white;
  position: absolute;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 300ms ease-in-out;
  transition: right 300ms;
}
.boxImg {
  width: 40px;
  height: 40px;
  &:hover {
    cursor: pointer;
    background-color: #dbdbdb;
  }
}
.itemImgSize {
  width: 17px;
  height: 17px;
  opacity: 0.8;
}
.productDecrip {
  font-size: 16px;
  font-weight: 400;
  color: $color_black_opacity_2;
  margin: 11px 0 6px;
}
.productPrice {
  font-size: 16px;
  font-weight: 400;
  color: #555555;
}
